VirtualClassroom.AdminClient/VirtualClassroom.AdminClient/Service References/AdminService/AdminService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" />
  <xs:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Views" />
  <xs:element name="AddClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="c" nillable="true" type="q1:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="classes" nillable="true" type="q2:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="classes" nillable="true" type="q3:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveClassesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="GetClassesResult" nillable="true" type="q4:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassesToSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="subject" nillable="true" type="q5:Subject" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="classes" nillable="true" type="q6:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassesToSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="student" nillable="true" type="q7:Student" />
        <xs:element minOccurs="0" name="passwordCrypt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="students" nillable="true" type="q8:ArrayOfStudent" />
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStudentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="students" nillable="true" type="q9:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentViews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentViewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Views" minOccurs="0" name="GetStudentViewsResult" nillable="true" type="q10:ArrayOfStudentView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="student" nillable="true" type="q11:Student" />
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="GetStudentByIdResult" nillable="true" type="q12:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="subject" nillable="true" type="q13:Subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="subjects" nillable="true" type="q14:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjectsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectViews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectViewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Views" minOccurs="0" name="GetSubjectViewsResult" nillable="true" type="q15:ArrayOfSubjectView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectsToClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="c" nillable="true" type="q16:Class" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="subjects" nillable="true" type="q17:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectsToClassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsByClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsByClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="GetSubjectsByClassResult" nillable="true" type="q18:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="teacher" nillable="true" type="q19:Teacher" />
        <xs:element minOccurs="0" name="passwordCrypt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterTeacherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTeachers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="teachers" nillable="true" type="q20:ArrayOfTeacher" />
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTeachersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeachers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="teachers" nillable="true" type="q21:ArrayOfTeacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeachersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="GetTeachersResult" nillable="true" type="q22:ArrayOfTeacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teacherId" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="teacher" nillable="true" type="q23:Teacher" />
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTeacherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teacherId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="GetTeacherByIdResult" nillable="true" type="q24:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="admin" nillable="true" type="q25:Admin" />
        <xs:element minOccurs="0" name="passwordCrypt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameCrypt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordCrypt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Models" minOccurs="0" name="LoginAdminResult" nillable="true" type="q26:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>